:root {
  --panel-padding: 20px;
  --gap-width: 8px;
  --left-width: 182px;
  --mini-left-width: 122px;
  --mid-width: 942px;
  --right-width: 282px;
  --main-width: 1422px;
  --simple-width: 932px;
}
.picture_inlineNum3_3P7k1 {
  width: 100%;
}
.picture_inlineNum3_3P7k1 .picture_item_3zpCn {
  width: 20%;
}
